/* 首页分类框展示 */
.categoryGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  // height: 24%;
  width: 100%;

  animation: slide-in 0.6s 0.2s backwards;
}
.categoryItem:last-child {
  margin-right: 0;
}
.categoryItem {
  width: calc(100% / 3 - 0.33rem);
  height: 100%;
  margin-right: 0.5rem;
}

.categoryItem {
  overflow: hidden;
  transform: scale(1);
  transition: all 0.8s cubic-bezier(0.65, 0.15, 0.37, 1.19);
  height: 100%;
  border-radius: 12px;
}

a.categoryButton {
  height: 100%;
  width: 100%;
  background: var(--main-card-background-opacity);
  border-radius: 12px;
  display: block;
  text-align: left;
  line-height: 4em;
  font-weight: 700;
  font-size: 1.1rem;
  color: #fff;
  transition: all 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: scale(1);
  overflow: hidden;
  font-family: inherit;
}
.categoryButtonText {
  padding-left: 21px;
}
a.categoryButton svg,
a.categoryButton i {
  font-size: 5rem;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 20%;
  transition: 0.3s;
  width: 100px;
  text-align: center;
  filter: blur(2px);
  transform: scale(1) rotate(15deg);
}

a.categoryButton.blue {
  background: linear-gradient(to right, #4c84eee6, #6ea4f3e6);
  background-size: 200%;
}
a.categoryButton.red {
  background: linear-gradient(to right, #e0348de6, #c26bbfe6);
  background-size: 200%;
}
a.categoryButton.green {
  background: linear-gradient(to right, #26ceb5e6, #86c6e6e6);
  background-size: 200%;
}

.categoryItem:hover {
  width: 50%;
  & .categoryButton {
    color: #fff;
  }
}

.categoryItem:hover svg,
.categoryItem:hover i {
  opacity: 0.8;
  transition: 0.8s;
  transition-delay: 0.15s;
  transform: scale(1.03);
  font-size: 2.5rem;
  filter: blur(0);
  top: 15%;
}
a.categoryButton:after {
  top: 47px;
  width: 1rem;
  left: 21px;
  height: 2px;
  background: #fff;
  content: "";
  border-radius: 1px;
  position: absolute;
}


@media screen and (max-width: 1200px) {
  // .topGroup .todayCard {
  //   background: #0e57d5;
  // }

  div#bannerGroup {
    height: auto;
    width: auto;
  }

  .topGroup .recent-post-item {
    display: flex;
  }

  .categoryGroup .categoryItem:nth-child(3) {
    display: none;
  }
  .categoryGroup {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .topGroup {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
  }

  .topGroup .todayCard {
    display: none;
  }

  .container_card_left {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start !important;
    flex-wrap: nowrap;
    width: auto;
  }
  .home-top .container_card_right {
  }

  .categoryItem {
    height: 48%;
    // width: 20%;
    min-width: 200px;
    box-shadow: none !important;
  }
  .categoryGroup {
    display: flex !important;
    min-width: 220px;
    width: 20%;
  }
  #bbTimeList {
    margin: 0 1.5rem;
    max-width: 100%;
    width: auto;
  }
}

.dark a.categoryButton.blue {
  background: linear-gradient(to right, #4c84eee6, #6ea4f3e6);
  background-size: 200%;
}
.dark a.categoryButton.red {
  background: linear-gradient(to right, #e0348de6, #c26bbfe6);
  background-size: 200%;
}
.dark a.categoryButton.green {
  background: linear-gradient(to right, #26ceb5e6, #86c6e6e6);
  background-size: 200%;
}
