html {
  cursor: var(--main-default-cursor)
}
:root {
  --main-default-cursor: url('../assets/cursor/pointer.png') 0 0,default;
  --main-pointer-cursor: url('../assets/cursor/link.png') 6 0,pointer;
  --main-text-cursor: url('../assets/cursor/text.png') 6 10,text;
}
:root.dark {
  --main-default-cursor: url('../assets/cursor/pointer-dark.png') 0 0,default;
  --main-pointer-cursor: url('../assets/cursor/link-dark.png') 6 0,pointer;
  --main-text-cursor: url('../assets/cursor/text-dark.png') 6 10,text;
}

/* #aside-content .card-widget .card-info-social-icons,#bber>section>ul>li>div .bber-info-from,#bber>section>ul>li>div .bber-info-time,html {
  cursor: url(https://cdn.npmmirror.com/packages/pixpro/1.7.6/files/static/images/alternate.png) 16 16,auto!important
} */

.post-article {
  h2,label,p,span,textarea,time {
    cursor: var(--main-text-cursor)
  } 
}
#article-container .highlight-tools .copy-button,#aside-content .aside-list>.aside-list-item,#aside-content .card-info #author-info__sayhi,#aside-content .card-widget#card-wechat,#recent-posts .recent-post-item,#recent-posts>.recent-post-item>.recent-post-info,#rightMenu .rightMenu-group .rightMenu-item,#twikoo .tk-comments .OwO .OwO-body,.OwO .OwO-body .OwO-bar .OwO-packages li,.OwO .OwO-body .OwO-items .OwO-item,.article-categories-original,.bber-reply,.card-author,.card-title,.category-bar-next,.code-expand-btn,.comment-barrage-item .barrageContent,.el-input__inner,.modal-article-date,.nav-button,.pagination span,.reward-button,.share-link .share-button,.title,.tk-avatar-img,.tk-comments-title span,.tk-expand,.tk-submit-action-icon,.topGroup .banner-button,.topGroup .recent-post-item,a,a span,button,i.bber-logo,img,input,summary {
  cursor: var(--main-pointer-cursor)
}
